<div class="row">
  <div class="col-4">
    <img src="images/about.jpg" alt="">
  </div>
  <div class="col-8">
    <h1>Front end Workshop #5 </h1>
    <blockquote class="blockquote">
      <p class="mb-0">в рамках обучающего проекта ValoStartup будет посвящен теме "Быстрый переход от верстальщика во front end developer".</p>
    </blockquote>
  </div>
</div>
